extends ../default

block content
    .container
        .card
            .card-content.grey.lighten-4
                h1
                    button#record_btn.btn 录音测试
                    nbsp    
                    button#make_data.btn 创建数据
                p#result
block javascript
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js")
    script(type='text/javascript', src='/js/recorder.js')
    script(type='text/javascript', src='/js/action.js') 